.huge {
    font-size: 51px; 
}

.linkup{
    font-size: 30px; 
}

.extrahuge {
    font-size: 88px; 
}

.but{
    background-color:aquamarine;

}

.deco{
    color:white;
    background-color:green;
}

.all{
    text-align: center;
}

