.huge {
    font-size: 51px; 
}

.linkup{
    font-size: 30px; 
}

.extrahuge {
    font-size: 69px; 
}

.but{
    background-color:aquamarine;
}

.deco{
    color:white;
    background-color:green;
}