.full {
  background: #f0f0f0; /*light gray */
  text-align: center;
}

.container {
  box-sizing: border-box;
  width: 1100px;
  height: 800px;
  background-color: #fff; 
  margin: 45px auto;
  padding: 20px;
  border: 1px solid #ddd; /* Light gray*/
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.main {
  height: 700px;
  background-color:rgb(179, 208, 255, 0.5);
}

.extrahuge {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin: 10px;
  color: #333; /* Dark gray */
}

.huge {
  font-size: 40px;
  margin: 15px;
  text-align: center;
  color: #555; /* Medium gray */
}

.but {
  font-size: 20px;
  background-color: #007bff; /* Blue */
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.but:hover {
  background-color: #0056b3; /* Dark blue */
}

.food {
  height: 1500px;
}

.data {
  font-size: 30px;
  margin: 15px;
  color: #666; /* Light gray */
}

.bullet {
  list-style-type: none;
  text-align: center;
}

.deco {
  color: #fff;
  background-color: #3498db; /* Blue */
  background-image: linear-gradient(to right, #3498db, #2980b9);
}







